html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: #1c1a19 url('../images/backImageMobile.png') right bottom no-repeat;
  background-size: 140px;
}

header {
  justify-content: space-around;
  align-items: center;
  height: 72px;
  background-color: #3e3c3c;
}

#header-name {
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

#items-container {
  display: none;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  width: 18rem;
}

.header-item {
  font-weight: 600;
  font-size: 15px;
  color: white;
}

i {
  vertical-align: bottom;
  color: white;
}


#header-menu {
  justify-content: center;
  background-color: transparent;
  border: none;
}


#principal-container {
  flex-direction: column;
  height: 80%;
}

#navigation-social {
  width: 60%;
  order: 1;
  justify-content: flex-start;
  align-items: center;
}

#social-container {
  height: auto;
  width: 200px;
  justify-content: space-around;
}

#presentation-info {
  flex-direction: column;
  height: min-content;
}

#presentation-info h1 {
  font-family: Crete Round, Arial, Helvetica, sans-serif;
  font-size: 72px;
  line-height: 81px;
  color: #f55800;
}

#presentation-info h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: white;
}

#presentation-info p {
  font-size: 20px;
  line-height: 32px;
  color: white;
  width: 70%;
  margin-bottom: 10px;
}

.d-flex {
  display: flex;
}

.heading-font {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.margin-tb-zero{
  margin-bottom: 0;
  margin-top: 0;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

