html {
  height: 100%;
}

#headline {
  margin: 0;
  height: 100%;
  background: #1c1a19 url('../images/backImageMobile.png') right bottom no-repeat;
  background-size: 120px;
}

#principal-header {
  justify-content: space-between;
  align-items: center;
  background-color: #3e3c3c;
}

#header-name {
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 133%;
  color: white;
  margin-left: 20px;
}

#items-container {
  display: none;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  width: 18rem;
}

.header-item {
  font-weight: 600;
  font-size: 15px;
  color: white;
}

#header-menu {
  justify-content: center;
  background-color: transparent;
  border: none;
  margin-right: 20px;
}

i {
  vertical-align: bottom;
  color: white;
}

#principal-container {
  flex-direction: column;
  height: 80%;
}

#navigation-social {
  width: 90%;
  order: 1;
  justify-content: flex-start;
  align-items: center;
}

#social-container {
  height: auto;
  width: 200px;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

#presentation-info {
  flex-direction: column;
  height: min-content;
  margin-left: 15px;
}

#presentation-info h1 {
  font-size: 56px;
  font-weight: normal;
  line-height: 114%;
  letter-spacing: 0.37px;
  color: #f55800;
  margin-top: 20%;
}

#presentation-info h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
  color: #fff5e1;
}

#presentation-info p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: white;
  width: 80%;
  margin-bottom: 10px;
}

.d-flex {
  display: flex;
}

.heading-font {
  font-family: 'Crete Round', serif;
}

.roboto-font {
  font-family: 'Roboto', sans-serif;
}

.inter-font{
  font-family: 'Inter', sans-serif;
}

.margin-tb-zero {
  margin-bottom: 0;
  margin-top: 0;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

#work-section header {
  justify-content: center;
  border-bottom: 1px solid #212121;
  margin-bottom: 18%;
}

#work-section h1 {
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 20px;
}

#first-card{
  flex-direction: column;
  margin-left: 10px;
}

#first-card h2 {
  font-weight: normal;
  font-size: 32px;
  line-height: 137%;
  margin-top: 10px;
  margin-bottom: 5px;
}

#first-card p {
  font-size: 16px;
  line-height: 158%;
  width: 95%;
  margin: 0;
}

.used-languages {
  list-style-type: none;
  justify-content: space-between;
  width: 80%;
  padding: 0;
}

#languages div {
  display: flex;
  align-items: center;
  background-color: white;
  height: 40px;
  border: 1px solid #8993A4;
  padding: 0 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 133%;
}

.see-btn { 
  background-color: #ff6800;
  color: white;
  font-weight: bold;
  border: none;
}

.see-btn:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #F55800;
}

.see-btn:active {
  background-color: #e05304;
  color: white;
  border: none;
}

.see-btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

#first-btn {
  width: 124px;
  height: 40px;
}