html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 1600%;
  animation: gradient 10s ease infinite;
  margin: 0;
  padding: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#headline {
  margin: 0;
  height: 100vh;
  background: #1c1a19 url('../images/backLaptopF.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-items: center;
}

.d-none {
  display: none;
}

.d-flex-animation {
  display: flex;
  animation-duration: 1.1s;
  animation-name: showNav;
}

@keyframes showNav {
  from {
    height: 0;
  }

  to {
    height: 100vh;
  }
}

#principal-header {
  justify-content: space-between;
  align-items: center;
  background-color: #3e3c3c;
}

#header-menu-btn {
  border: none;
  background: transparent;
  height: 40px;
  margin-top: 20px;
  align-self: flex-end;
}

i {
  vertical-align: bottom;
  color: white;
}

#header-menu-btn i {
  color: #67798e;
}

a {
  text-decoration: none;
}

.header-item a {
  font-weight: 600;
  font-size: 18px;
  color: white;
}

.menu-item a {
  color: #fff5e1;
}

#header-name a {
  font-weight: bold;
  font-size: 20px;
  line-height: 133%;
  color: white;
  margin-left: 20px;
}

#items-container {
  display: none;
}

#items-container-menu {
  list-style: none;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

#items-container-menu ul {
  list-style: none;
}

.menu-item {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #fff5e1;
  border-bottom: 1px solid #6f6c6b;
  margin-bottom: 14px;
}

#header-menu {
  background-color: transparent;
  border: none;
}

#menu-nav {
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

#principal-container {
  flex-direction: column;
  height: 80%;
}

#navigation-social {
  width: 90%;
  order: 1;
  justify-content: flex-start;
  align-items: center;
}

.social-container {
  height: auto;
  width: 200px;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.text-white {
  color: white;
}

.text-gold {
  color: #ae976b;
}

.text-blue {
  color: #172b4d;
}

.work-card {
  background-color: #1c1a19;
  opacity: 0.8;
  background-size: cover;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 35px;
  width: 80%;
}

.work-card h2 {
  font-weight: normal;
  font-size: 32px;
  line-height: 137%;
  color: #ae976b;
  margin-bottom: 10px;
}

.work-card p {
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin: 0;
}

#presentation-info {
  flex-direction: column;
  height: min-content;
  margin-left: 15px;
}

#presentation-info h1 {
  font-size: 65px;
  font-weight: normal;
  text-shadow: 0 0 2px #172b4d;
  line-height: 114%;
  letter-spacing: 0.37px;
  color: #ae976b;
  margin-top: 20%;
}

#presentation-info h2 {
  font-weight: bolder;
  font-size: 25px;
  line-height: 133%;
  color: #fff5e1;
}

#presentation-info p {
  background-color: #1c1a19;
  border-radius: 10px;
  opacity: 0.7;
  font-size: 17px;
  font-weight: bold;
  line-height: 150%;
  color: white;
  width: 80%;
  margin-bottom: 10px;
}

.d-flex {
  display: flex;
}

.pos-relative {
  position: relative;
}

.wave-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave-divider svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 146px;
}

.wave-divider .shape-fill {
  fill: #fff;
}

.d-flex-center {
  display: flex;
  justify-content: center;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.heading-font {
  font-family: 'Crete Round', serif;
}

.roboto-font {
  font-family: 'Roboto', sans-serif;
}

.inter-font {
  font-family: 'Inter', sans-serif;
}

.poppins-font {
  font-family: 'Poppins', sans-serif;
}

.margin-tb-zero {
  margin-bottom: 0;
  margin-top: 0;
}

#work-section {
  background-color: #1c1a19;
}

#work-section header {
  border-bottom: 1px solid #212121;
  margin-bottom: 18%;
}

#line-works {
  display: none;
}

#work-title {
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 20px;
}

#first-card {
  display: none;
  flex-direction: column;
  margin-left: 10px;
}

#first-card h2 {
  font-weight: normal;
  font-size: 32px;
  line-height: 137%;
  margin-top: 10px;
  margin-bottom: 5px;
}

#first-card p {
  font-size: 16px;
  line-height: 158%;
  width: 95%;
  margin: 0;
}

.used-languages {
  list-style-type: none;
  width: 240px;
  padding: 0;
}

.card-languages {
  margin-top: 0;
}

.first-languages {
  margin-top: 1rem !important;
}

.card-languages div {
  background-color: rgba(255, 255, 255, 0.24);
  padding: 10px 12px;
  margin-right: 15px;
  color: white;
}

.languages {
  list-style-type: none;
  width: 270px;
  padding: 0;
}

.languages div {
  align-items: center;
  background-color: white;
  height: 40px;
  border: 1px solid #8993a4;
  padding: 0 10px;
  font-size: 15px;
  line-height: 133%;
  color: #ae976b;
  font-weight: bolder;
  margin-right: 20px;
}

.see-btn {
  background-color: #172b4d;
  color: white;
  font-weight: bold;
  border: none;
  transition: background-color 1s ease-in-out, color 1s ease-in-out;
}

.touch-btn {
  background-color: tomato;
  color: white;
  font-weight: bold;
  border: 1px white solid;
  transition: background-color 1s ease-in-out, color 1s ease-in-out;
}

.get-resume {
  width: 9rem;
  padding: 1rem;
  background-color: #172b4d;
  color: #ae976b;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  transition: background-color 1s ease-in-out, color 1s ease-in-out;
}

.see-btn:hover {
  background-color: #172b4d;
  color: #ae976b;
  border: 1px solid #ae976b;
  cursor: pointer;
}

.see-btn:active {
  background-color: #ae976b;
  color: white;
  border: none;
}

.see-btn:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.first-btn {
  width: 140px;
  height: 40px;
  border-radius: 20px;
}

#work-cards {
  flex-direction: column;
  align-items: center;
}

.card-btn {
  width: 100%;
  height: 48px;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 141%;
}

.card-container {
  padding: 18% 0 0 10px;
  width: 80%;
}

.card-name {
  height: 50px;
}

.card-description {
  height: 140px;
}

#modal-container {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#modal {
  background-color: rgb(234, 231, 231);
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  width: 95vw;
  height: 95vh;
}

#modal-top {
  justify-content: space-around;
}

#close-modal {
  border: none;
  background: transparent;
  color: #67798e;
}

#close-modal i {
  color: #67798e;
}

#languages-modal {
  margin-left: 10%;
}

#languages-modal div {
  border-radius: 10px;
  font-weight: 600;
  font-size: 13px;
  color: #172b4d;
  background-color: rgb(234, 231, 231);
  align-items: center;
}

#modal-bottom {
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#modal-info {
  flex-direction: column;
  align-items: center;
}

#modal-bottom img {
  width: 80%;
  max-width: 400px;
  border-radius: 20px;
  border: #172b4d;
}

#modal-bottom p {
  width: 95%;
  color: #344563;
  font-size: 16px;
  line-height: 150%;
}

#modal-bottom button {
  background-color: #ae976b;
  border: none;
  height: 45px;
  width: 134px;
  color: white;
  margin: 30px 5px 0 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  line-height: 141%;
}

#modal-bottom i {
  margin: 0 0 2px 8px;
  font-size: 20px;
}

#me-section {
  background-color: #1c1a19;
}

#about-me {
  background: #1c1a19 url('../images/photo5.png') no-repeat;
  background-position: 90% 90%;
  -webkit-background-size: 30%;
  -moz-background-size: 30%;
  -o-background-size: 30%;
  background-size: 30%;
  height: 40rem;
  margin-bottom: 20%;
}

#me-container {
  flex-direction: column;
  border-bottom: 2px solid gray;
  width: 90%;
  margin-top: 70px;
}

#me-section hr {
  display: none;
}

#about-me h2 {
  font-weight: normal;
  font-size: 72px;
  line-height: 122%;
  color: #ae976b;
  margin-bottom: 20px;
  margin-top: 0;
}

#about-me p {
  font-size: 18px;
  line-height: 150%;
  color: #f4f5f7;
  margin-top: 0;
}

#about-me button {
  width: 161px;
  height: 48px;
  font-weight: bold;
  font-size: 17px;
  line-height: 141%;
}

#me-list {
  padding: 0;
  padding-bottom: 80px;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 32px;
  line-height: 134%;
  color: #ae976b;
  list-style-type: none;
}

#me-list ul {
  padding: 0;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  line-height: 194%;
  font-weight: normal;
  color: white;
  list-style-type: none;
}

.item-title {
  color: white;
}

.list-title {
  margin: 20px;
}

#item-lan {
  list-style-type: square;
}

#item-fram {
  list-style-type: square;
}

#item-skills {
  list-style-type: disc;
}

footer {
  flex-direction: column;
  padding-top: 20%;
}

#footer-title {
  align-self: center;
  width: 85%;
  text-align: center;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 137%;
  margin-bottom: 50px;
}

#contact-form {
  flex-direction: column;
  padding: 10px;
}

.input-contact {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  color: #979493;
  font-size: 15px;
  line-height: 160%;
  margin-bottom: 30px;
}

#email-input {
  margin-bottom: 0;
}

#email-error {
  color: #ae976b;
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 30px;
}

#area-contact {
  border: none;
  background-color: #fbf8f7;
  height: 80px;
  margin-bottom: 20px;
}

#area-contact::placeholder {
  font-size: 15px;
  line-height: 160%;
  color: black;
}

#contact-btn {
  width: 131px;
  height: 48px;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 141%;
  align-self: center;
  align-items: center;
}

#footer-social {
  border-top: 1px solid #dfe1e6;
  margin-top: 30%;
}

.header-logos {
  color: #dbd8d7;
  font-size: 20px;
}

.footer-logos {
  color: white;
  font-size: 20px;
}

#bottom-line {
  border-top: 5px solid #0d151e;
  width: 134px;
  margin: 10px;
  align-self: center;
  border-radius: 20%;
}

@media screen and (min-width: 600px) {
  #principal-header {
    justify-content: space-around;
  }

  #menu-nav {
    display: none;
  }

  #nav-menu {
    display: flex;
  }

  #header-name a {
    display: flex;
    justify-content: center;
  }

  #header-menu {
    display: none;
  }

  #items-container {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    width: 18rem;
  }

  #principal-header>#header-name,
  #principal-header>#items-container {
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 120%;
    }

    to {
      justify-content: space-around;
    }
  }

  #headline {
    background: #1c1a19 url('../images/backLaptopF.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #principal-container {
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 10%;
    padding-top: 10%;
  }

  #navigation-social {
    width: 100px;
    text-align: center;
  }

  #navigation-social ul {
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
  }

  #presentation-info {
    order: 2;
  }

  #presentation-info p {
    width: 50%;
  }

  #presentation-info h1 {
    margin-top: 0;
  }

  #work-section {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  #work-section header {
    border: none;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
    margin-bottom: 50px;
  }

  #work-title {
    width: 310px;
    height: 50px;
    padding-left: 10%;
  }

  #line-works {
    display: block;
    width: 55%;
    margin-left: 4%;
  }

  #first-card {
    display: flex;
    flex-direction: row;
    width: 80%;
  }

  #card-image {
    width: 50%;
    margin: 0 0 10px 0;
    transition: transform 1s;
  }

  #card-image:hover {
    transform: scale(1.05);
  }

  #info-container {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 25px;
    width: 40%;
    flex-wrap: wrap;
  }

  #info-container #languages {
    width: 260px;
  }

  .card-container h2 {
    padding: 0 0 10px 0;
  }

  #info-container h2 {
    padding-left: 0;
    margin-top: 0;
  }

  #work-cards {
    margin-top: 4rem;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
  }

  .used-languages {
    margin-top: 20px;
    width: 230px;
    flex-wrap: wrap;
  }

  .card-btn {
    display: none;
  }

  .work-card {
    transition: background 1s ease-in-out;
  }

  .work-card:hover>.card-container>.used-languages {
    display: none;
  }

  .work-card:hover>.see-btn {
    display: flex;
    margin-top: 26px;
  }

  .work-card:hover {
    background-size: cover;
    cursor: pointer;
  }

  #modal {
    height: 75vh;
    width: 50vw;
  }

  #modal-top {
    justify-content: space-between;
  }

  #modal-top h2 {
    margin-left: 5%;
  }

  #close-modal {
    margin-right: 5%;
  }

  #languages-modal {
    margin-left: 5%;
  }

  #modal-bottom {
    overflow-y: scroll;
  }

  #modal-info {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #modal-info img {
    max-width: 70%;
  }

  #modal-info p {
    font-size: 16px;
    line-height: 187%;
    margin-left: 20px;
  }

  #modal button {
    margin: 1rem;
  }

  .img-container {
    border: 1px solid rgb(151, 148, 148);
  }

  #container-btn {
    width: 100%;
    margin-bottom: 5%;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
  }

  #container-btn button {
    height: 40px;
  }

  #me-section {
    background: #1c1a19 url('../images/photo5.png') 90% 200px no-repeat;
    background-size: 30%;
    margin-bottom: 40px;
  }

  #about-me {
    width: 50%;
    margin-left: 8%;
    background: #1c1a19;
    height: 500px;
  }

  #me-container header {
    margin-top: 100px;
  }

  #me-container p {
    margin-bottom: 40px;
  }

  #me-container {
    border: none;
  }

  #me-section hr {
    display: none;
  }

  #me-list {
    display: grid;
    grid-template-areas: 'left middle right';
    margin-top: 80px;
  }

  #me-list li {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  #item-lan {
    grid-area: left;
  }

  #item-fram {
    grid-area: middle;
  }

  #item-skills {
    grid-area: right;
  }

  footer {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 80px;
  }

  #footer-title {
    width: 35%;
    text-align: left;
    align-self: flex-start;
    margin: 0 30px 0 50px;
  }

  #contact-form {
    width: 50%;
  }

  #contact-btn {
    align-self: flex-start;
  }

  #footer-social {
    margin-top: 140px;
    width: 100%;
  }

  #bottom-line {
    display: none;
  }
}

@media (min-width: 685px) and (max-width: 999px) {
  .work-card {
    width: 45%;
  }

  #card-image {
    width: 55%;
  }
}

@media screen and (min-width: 1000px) {
  #headline {
    background: #1c1a19 url('../images/backLaptopE.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #presentation-info p {
    width: 470px;
  }

  #me-section {
    background: #1c1a19 url('../images/photo5.png') 90% 19% no-repeat;
    background-size: 30%;
  }

  #me-section hr {
    display: block;
    width: 80%;
    border: 2px solid gray;
  }

  #card-image {
    width: 58%;
    margin: 0 0 10px 30px;
  }

  #info-container {
    width: 370px;
  }

  #info-container #languages {
    width: 300px;
  }

  #about-me {
    width: 500px;
  }

  .work-card {
    width: 31%;
  }
}